* {
    margin: 0;
    padding: 0;
}

body {
    background: url(./Images/page_background_image3.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Courier New', Courier, monospace;
}

#options-bar, #seq-steps-container, #main-content {
    margin-top: .2rem;
}

.h-container {
    display: flex;
    flex-direction: row;
}

.v-container {
    display: flex;
    flex-direction: column;
}

.no-select {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.bmp-section-element {
    margin: 0 .2rem;
}

.option-desc {
    color: white;
    margin-left: 1rem;
}

.sound-option-button {
    margin: 0 .2rem;
    height: 100%;
    width: 2rem;
    color: white;
    background-color: #696969;
}

.sound-option-button:focus {
    outline: none;
}

.step-mark {
    height: 1rem;
    width: 100%;
    background-color: white;
    border: .1rem .2rem black;
    border-style: ridge;
    overflow: hidden;
}

div>div.active-step {
    background-color: #e6b200 !important;
}

div>div.active-matrix-field {
    background-color: #e6b200 !important;
}

.matrix-field {
    width: 100%;
    background-color: white;
    border: .1rem .2rem black;
    border-style: ridge;
}

.matrix-field-wrap {
    width: 100%;
}

.two-beat-seq {
    background-color: #696969;
}

.two-beat-track {
    background-color: #696969;
}

.four-beat-seq {
    background-color: #696969;
}

.four-beat-track {
    background-color: #696969;
}

.sound-desc {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    font-weight: bolder;
    color: #e6b200;
    width: 7rem;
    height: 2rem;
    background-color: #696969;
    border-color: #e6b200;
    border: .1rem .2rem;
    border-style: solid;
    overflow: hidden;
}

#content {
    margin: 0rem 15rem;
}

#seq-steps-container {
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: flex-end;
    margin-left: 7rem;
}

/* Optionen */

#options-bar {
    flex-wrap: nowrap;
    margin-top: 15rem;
    background-color: black;
    border-radius: 24px;
    padding: .1rem 0.2rem;
}

/* bpm */

#set-bpm-section {
    flex-wrap: nowrap;
    align-items: center;
}

#bpm-display {
    color: white;
    white-space: nowrap;
    width: 100px;
    text-align: end;
}

input[type=range] {
    -webkit-appearance: none;
    appearance: none;
    height: 1rem;
    opacity: 0.8;
    -webkit-transition: .2s;
    transition: .2s;
    background-color: #d0d0d0;
    overflow: hidden;
    border-radius: 24px;
}

input[type=range]:hover {
    opacity: 1;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 1rem;
    width: 1rem;
    /* background: #e6b200; */
    background: black;
    overflow: hidden;
    border-radius: 24px;
}

#toggleBarLength-btn:disabled {
    opacity: .8;
}